#formula-button {
    display: inline-block;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: help;
    margin-left: 5px;
}

#formula-button :hover{
    color: #9fbef0;
}

#analysis_type-div {
    display: flex;
    padding: 10px;
}

#crash-rate-content{
    padding: 30px 30px;
    width: 100%;
    margin-left: -20px;
}

#scatter_map_tab7{
    height: 70vh;
}