#formula-button {
    background-color: #0e42a1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 25px; /* Slightly smaller size */
    height: 25px; /* Slightly smaller size */
    font-size: 1.1em; /* Adjust font size */
    position: relative;
}

#formula-button :hover{
    color: #9fbef0;
}

#analysis_type-div {
    display: flex;
    padding: 10px;
}