s.mobile-controls {
    width: 25%;
    float: left;
    padding: 20px;
    margin-top: 20px;
}

.mobile-graph {
    height: 80vh;
    width: 70%;
    position: fixed;
    top: 160px;
    right: 20px;
}

@media (max-width: 768px) {
    .mobile-controls {
        width: 100% !important;
        float: none !important;
        padding: 10px;
        margin-top: 10px;
    }
    .mobile-graph {
        position: relative !important;
        width: 100% !important;
        top: auto !important;
        right: auto !important;
        height: 50vh !important;
    }
}
